* {
    font-family: 'IBM Plex Sans', sans-serif;
}

.login-container {
    padding-top: 50px;
}

.logo-pic {
    width: 110%;
    height: 110%;
}

.login-table {
    margin: 0 auto;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
}
.logo-corner {
    width: 15%;
    height: 15%;
    position: fixed;
    top: 0;
    left: 0;
}